@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="py-3 col-md-8 dvideo" style="align-content:center;">
        
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1y7Exy9eKSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

   
    <br /><br />
    <div class="py-3 col-md-4">

    </div>

    <div class="py-3 col-md-4">
        <img src="https://www.udb.edu.sv/udb_files/recursos_noticias/1876/thumb.jpg" width="50%" alt="">
        <h3>Alumnos de comunicación realizan montajes de eventos comerciales </h3>
        <p>Estudiantes de la cátedra de Etiqueta y Protocolo de la Licenciatura en Ciencias de la Comunicación, de campus Soyapango y Antiguo Cuscatlán de la UDB desarrollaron una serie de montajes de eventos comerciales como parte de su proyecto final de ciclo.</p>
    </div>

    <div class="py-3 col-md-4">
        <img src="https://www.udb.edu.sv/udb_files/recursos_noticias/1875/thumb.jpg" width="50%" alt="">
        <h3>Editorial UDB presenta el libro "Nomadismo y alteridad: Las otras historias de la guerra" </h3>
        <p>El campus de Antiguo Cuscatlán de la Universidad Don Bosco fue el escenario para la presentación de la obra literaria “Nomadismo y alteridad: Las otras historias de la guerra"</p>
    </div>

    <div class="py-3 col-md-4">
        <img src="https://www.udb.edu.sv/udb_files/recursos_noticias/1874/thumb.jpg" width="50%" alt="">
        <h3>Cursos de Ajedrez. </h3>
        <p>Puedes aprender ajedrez con jugadores de nivel federado en nuestra universidad,</p>
    </div>
</div>